
@model IEnumerable<DriveFile>
@{
    ViewData["Title"] = "Home";
}

@if (Model == null)
{
    <div class="container-main">
        <div class="login-container">

            @using (Html.BeginForm("Login", "Home"))
            {
                <button class="btn-login">
                    <img class="img-google" src="~/images/google_icon.png" />
                    Login
                </button>
            }

        </div>
    </div>
}
else if (Model.Count() == 0)
{
    <p>You don't have any files.</p> }
else
{
    @foreach (var driveFile in Model)
    {
        <p>@driveFile.Name</p>
    }
}
