
@{
    ViewData["Title"] = "Login";
}
<link href="~/css/login.css" rel="stylesheet" />

<div class="container-main">
    <div class="login-container">

        <button class="btn-login">
            <img class="img-google" src="~/images/google_icon.png" />
            Login
        </button>
    </div>
</div>