.container-main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-container 
{
    width: 100%;
    margin-top: 30px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F1F1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.login-container img
{
        width: auto;
        height: 40px;
}

.btn-login 
{
    width: 15%;
    height: 40px;
    background-color: #0026ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 3px;
    float: right;
}

.select-file-label 
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.btn-delete, .btn-download {
    background-color: red;
    color: white;
    width: 100px;
    font-family: 'Franklin Gothic Medium';
    border-radius: 3px;
}
.btn-download{
    background-color: #F1F1F1;
    color: black;
}
